version: '3'

services:
    nginx:
        image: nginx:latest
        container_name: nginx-container
        ports:
            - '80:80'
        volumes:
            - ./:/code
            - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - code-network
        depends_on:
            - php

    php:
        build:
            context: ./docker/php/
            dockerfile: php_dockerfile
        container_name: php-container
        volumes:
            - ./:/code
        networks:
            - code-network
        depends_on:
          - mysql

    mysql:
        image: 'mysql'
        container_name: mysql-container
        ports:
            - '3306:3306'
        volumes:
            - ./docker/mysql:/var/lib/mysql
        command: 
          ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci','--default-authentication-plugin=mysql_native_password']
        environment:
            MYSQL_ROOT_PASSWORD: root
        networks:
            code-network:
                aliases: 
                    - mysql

networks:
    code-network:
        driver: bridge